<!doctype html>
    <html>
        <head>
            <title><%= title %></title>   
            <link rel="stylesheet" href="style.css">
        </head>
        <body>
            <div class="container">
                <div id="heading">
                     <% include ./partials/heading %>
                </div>
            </div>
            <div class="container">
                <img src="http://placehold.it/300x300">
                
                <div class="box">
                    <h2>Cupcake</h2>
                    <p>Cupcake ipsum dolor sit. Amet apple pie tiramisu. Apple pie tootsie roll dragée. Chocolate gingerbread carrot
                    cake macaroon marzipan chupa chups. Cookie croissant lollipop pudding wafer marzipan. I love brownie tiramisu 
                    pastry dessert gingerbread croissant cupcake biscuit. Apple pie sugar plum I love sweet. I love croissant danish 
                    chocolate. Chocolate cake cotton candy wafer I love tart chocolate. Pudding powder icing gummi bears gummi bears 
                    chupa chups chocolate cake lollipop. Chocolate soufflé halvah I love I love pastry. Sweet danish tart muffin cotton
                    pastry dessert gingerbread croissant cupcake biscuit. Apple pie sugar plum I love sweet. I love croissant danish 
                    chocolate. Chocolate cake cotton candy wafer I love tart chocolate. Pudding powder icing gummi bears gummi bears 
                    chupa chups chocolate cake lollipop. Chocolate soufflé halvah I love I love pastry. Sweet danish tart muffin cotton
                    candy liquorice I love.</p>
                </div>            
            </div>
        </body>
    </html>